/*
Error: Invalid property: "Backtrace:" (no value).
        on line 4 of stylesheets.css

1: /*
2: Errno::ENOENT: No such file or directory @ rb_sysopen - stylesheets.css
3: 
4: Backtrace:
5: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:482:in `read'
6: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
7: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
8: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
9: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'

Backtrace:
stylesheets.css:4
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:729:in `parse_property'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:691:in `parse_property_or_rule'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:657:in `parse_line'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:535:in `build_tree'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:554:in `block in append_children'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:553:in `each'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:553:in `append_children'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:406:in `_to_tree'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin.rb:108:in `method_missing'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:381:in `watch_or_update'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/bin/sass:23:in `load'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/bin/sass:23:in `<main>'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/elisehanson/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"Backtrace:\" (no value).\A         on line 4 of stylesheets.css\A \A 1: /*\A 2: Errno::ENOENT: No such file or directory @ rb_sysopen - stylesheets.css\A 3: \A 4: Backtrace:\A 5: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:482:in `read'\A 6: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'\A 7: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'\A 8: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'\A 9: /Users/elisehanson/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'"; }
